@import "../node_modules/materialize-css/dist/css/materialize.css";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

$lora: 'Source Sans Pro', Lora, Arial, sans-serif;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dn {
  display: none;
}

.error {
  color: red;
  font-size: 13px;
  font-family: 'Lora', serif;
  padding: 0 0 5px 10px;
}


