@import "../node_modules/materialize-css/dist/css/materialize.css";
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

$lora: 'Source Sans Pro', Lora, Arial, sans-serif;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dn {
  display: none;
}

//////////////////////////////////   Table /////////////////////////////////////
table {
  min-width: max-content;
  padding: 5px 20px 0 20px;

  th {
    font-weight: bold;
    font-family: $lora;
    text-align: center;
  }

  th:first-child {
    border-right: 1px solid black;

  }

  td {
    font-family: $lora;
    font-size: 14px;
    text-align: center;

    img {
      cursor: pointer;
    }
  }

  td:first-child {
    border-right: 1px solid black;
  }
}

.table-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 25px 20px;
  align-items: center;
}

.mat-mdc-slide-toggle.mat-warn {
  --mdc-switch-selected-icon-color: #ffffff;
  --mdc-switch-selected-focus-track-color: #f87a56;
  --mdc-switch-selected-handle-color: #f65405;
  --mdc-switch-selected-track-color: #f87a56;
  --mat-switch-selected-with-icon-handle-horizontal-margin: 0 20px;
  --mat-switch-unselected-with-icon-handle-horizontal-margin: 0;
  --mdc-switch-track-height: 20px;
  --mdc-switch-track-width: 43px;
}

//////////////////////////////////   Table /////////////////////////////////////

/////////////////////////////////  Button Style ///////////////////////////////

.btn-group {
  width: 210px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.btn-group button {
  height: 35px;
  padding: 0 10px;
  border-radius: 1px;
  color: white;
  font-family: $lora;
}

.btn-cancel {
  background-color: slategrey;
  width: 100px;
}

.btn-save {
  background-color: #26a69a;
  width: 100px;
}

/////////////////////////////////  Button Style ///////////////////////////////

////////////////////////////////   Input //////////////////////////////////////
.row {
  margin-bottom: 0;
  padding: 0;

  input {
    margin-bottom: 0;
  }
}

.invalid {
  color: #e40606;
}

////////////////////////////////   Input //////////////////////////////////////

.error {
  color: red;
  font-size: 13px;
  padding-bottom: 5px;
}

////////////////////////////// Add Image ///////////////////////////////////
.img-block {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5px 5px 10px 5px;

  label {
    font-size: 18px;
  }

  .img-group {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 60px;
      cursor: pointer;
    }

    span {
      color: #26a69a;
      font-size: 13px;
      font-weight: bold;
      padding-right: 5px;
    }
  }
}

////////////////////////////// Add Image ///////////////////////////////////

///////////////////////////// Loader  /////////////////////////////////////

.center {
  position: absolute;
  top: 20%;
  left: 40%;
}

//////////////////////////// Loader  ////////////////////////////////////////
