<div class="container-main">
  <div class="sidebar-left" role="banner">
    <div class="new_container">
      <div class="logo-container">
        <!--        <img src="../assets/images/logo.png" alt="logo">-->
        <h1 class="title">Snack Time</h1>
      </div>

      <hr />

      <div class="user">
        <p>{{ userName }}</p>
        <p class="group">
          "{{ restaurantTitle.length ? restaurantTitle : "Administrator" }}"
        </p>
      </div>

      <hr class="hr-bottom" />

      <div class="nav-wrap">
        <nav class="main-nav" role="navigation">
          <ul class="list-hover-slide">
            <li routerLinkActive="active" *ngIf="isAdmin">
              <a routerLink="/st/dashboard">Главная</a>
            </li>

            <li routerLinkActive="active" *ngIf="isAdmin">
              <a routerLink="/st/users">Пользователи</a>
            </li>
            <li routerLinkActive="active" *ngIf="isAdmin">
              <a routerLink="/st/restaurants">Рестораны</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/st/promos">Реклама</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/st/assortment">Ассортимент</a>
            </li>
            <li (click)="logout()"><a>Выйти</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div [class.container-right]="!isLogout" [class.hidden]="isLogout">
    <!--      <div class="loader" *ngIf="isErrorHttpStatus">-->
    <!--        <p>Идет соединение с сервером... Попробуйте обновить страницу</p>-->
    <!--        <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
    <!--      </div>-->

    <router-outlet></router-outlet>
  </div>
  <div class="alert-dialog" *ngIf="isLogout">
    <div class="title">
      <h2>Вы уверены?</h2>
    </div>

    <div class="btn-group-exit">
      <button class="btn-cancel" extended="" mat-fab (click)="isLogout = !isLogout">
        Нет
      </button>
      <button type="submit" class="btn-save" extended="" mat-fab (click)="submit()">
        Да
      </button>
    </div>
  </div>
</div>