@if (isLoading) {
  <div class="loader">
    <p>Идет соединение с сервером... Попробуйте обновить страницу</p>
    <div class="custom-loader"></div>
  </div>
} @else {
  <div class="container-main">
    <div class="sidebar-left" role="banner">
      <div class="new_container">
        <div class="logo-container">
          <!--        <img src="../assets/images/logo.png" alt="logo">-->
          <h1 class="title">Snack Time</h1>
        </div>

        <hr />

        <div style="margin: 10px auto 0; width: 90%">
          <img
            [class.dn]="isAdmin || restaurant == null"
            class="img-true"
            [src]="restaurant?.imgSrc"
            alt="image"
          />
        </div>

        <div class="user">
          @if (restaurant) {
            <p class="group">"{{ restaurant?.title }}"</p>
          }
          <p>{{ userName ?? "" }}</p>
        </div>

        <hr class="hr-bottom" />

        <div class="nav-wrap">
          <nav class="main-nav" role="navigation">
            <ul class="list-hover-slide">
              <li routerLinkActive="active" *ngIf="isAdmin">
                <a routerLink="/st/dashboard">Главная</a>
              </li>

              <li routerLinkActive="active" *ngIf="isAdmin">
                <a routerLink="/st/users">Пользователи</a>
              </li>
              <li routerLinkActive="active" *ngIf="isAdmin">
                <a routerLink="/st/restaurants">Рестораны</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/st/promos">Реклама</a>
              </li>
              <li routerLinkActive="active">
                <a routerLink="/st/assortment">Ассортимент</a>
              </li>
              <li (click)="logout()"><a>Выйти</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div [class.container-right]="!isLogout" [class.hidden]="isLogout">
      <router-outlet></router-outlet>
    </div>
    <div class="alert-dialog" *ngIf="isLogout">
      <h2>Выйти?</h2>

      <div class="btn-group-exit">
        <button class="btn" extended="" mat-fab (click)="isLogout = !isLogout">
          Нет
        </button>
        <button
          type="submit"
          class="btn"
          extended=""
          mat-fab
          (click)="submit()"
        >
          Да
        </button>
      </div>
    </div>
  </div>
}
