<div class="container-del">
  <div class="title">
    <h2>Удалить</h2>
    <p>"{{ title }}"?</p>
  </div>

  <div class="warning" *ngIf="isRestaurant">
    <p>Внимание!</p>
    <span
      >Удаление ресторана, приведет к уничтожению принадлежащих к ней категорий
      и позиций</span
    >
  </div>

  <div class="btn-group-del">
    <button class="btn-cancel" extended="" mat-fab (click)="cancel()">
      Нет
    </button>
    <button
      type="submit"
      class="btn-save"
      extended=""
      mat-fab
      (click)="delete()"
    >
      Да
    </button>
  </div>
</div>
