<div [class]="isDelete ? 'blur' : ''">
  <div class="main-container">
    <div class="container-block">
      <h3>{{kitchenID.length > 0 ? kitchen.title + ' кухня' : 'Новая кухня'}}</h3>
      <div class="img-del" *ngIf="kitchenID">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
             data-name="Layer 1" viewBox="0 0 24 24"
             (click)="openDelTemplate()"
             *ngIf="!isDelete"
        >
          <path d="M17 4V2a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H2v2h2v15a3 3 0 0 0 3 3h10a3
         3 0 0 0 3-3V6h2V4Zm-6 13H9v-6h2Zm4 0h-2v-6h2Zm0-13H9V2h6Z" fill="white"/>
        </svg>
      </div>
      <form [formGroup]="form">
        <div class="container-form">
          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="title">Название</label>
              <input id="title" type="text" formControlName="title"
                     [ngClass]="{'invalid' : form.get('title').invalid && form.get('title')['touched']}"
                     (keyup)="checkTitleKitchen()"
              >
            </div>
          </div>
          <span class="error" *ngIf="isError"
          >*Название уже занято
                    </span>
          <span class="error" *ngIf="form.get('title').hasError('required') && form.get('title')['touched']"
          >*Введите название
                    </span>
          <span class="error" *ngIf="form.get('title').hasError('minlength') && form.get('title')['touched']"
          >*Не менее 3х символов
                    </span>
          <span class="error" *ngIf="form.get('title').hasError('maxlength') && form.get('title')['touched']"
          >*Слишком длинное название
                    </span>

          <hr>

          <div class="img-block">
            <label [for]="inputImg">Выберите изображение </label>
            <div class="img-group">
              <span *ngIf="image || form.get('imgSrc').value">Изображение загружено!</span>
              <input type="file" class="dn"
                     formControlName="imgSrc"
                     #inputImg
                     (change)="uploadImg($event)">
              <img (click)=" triggerClick()" [class]="isDelete ? 'dn' : ''"
                   src="../assets/icons/add-photo.png" alt="edit">
            </div>
          </div>

          <hr>

          <div class="btn-group">
            <button
              class="btn-cancel" extended="" mat-fab
              [disabled]="isDelete"
              (click)="openRestaurantsPage()"
            >
              Отмена
            </button>
            <button
              type="submit"
              class="btn-save" extended="" mat-fab
              [disabled]="form.invalid || isError || isDelete"
              (click)="onSubmit()"
            >
              Сохранить
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Template for Delete-->

<app-delete-template *ngIf="isDelete" [elemIn]="elem"></app-delete-template>

