$lora: 'Source Sans Pro', Lora, Arial, sans-serif;

* {
  font-family: $lora;
  margin: 0;
  user-select: none;
}

.blur {
  filter: blur(5px);
}

.main-container {
  position: relative;
  display: flex;
  margin-left: 390px;
  padding-top: 30px;
}


.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  width: 350px;

  .row {
    input {
      width: 225px;
      padding-left: 15px;
    }
  }

  mat-form-field {
    width: 300px;
    padding-top: 20px;

    span {
      color: grey;
    }
  }
}
