$lora: 'Source Sans Pro', Lora, Arial, sans-serif;

:host{
  margin: 0 auto;
}

.row {
  input {
    width: 300px;
    padding-left: 12px;
  }
}

mat-form-field {
  width: 320px;
  padding-top: 12px;

  span {
    color: grey;
  }
}

@media (max-width: 768px) {
  .row input,
  mat-form-field {
    width: 100%;
  }
}