$lora: 'Source Sans Pro', Lora, Arial, sans-serif;

:host{
  margin: 0 auto;
}

.row {
  input {
    width: 225px;
    padding-left: 15px;
  }
}

mat-form-field {
  width: 300px;
  padding-top: 20px;

  span {
    color: grey;
  }
}