
.tables{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 65vw;
}

button {
  background-color: #F87839;
  border-radius: 1px;
  height: 40px;
  color: white;
  font-family: 'Lora', serif;
}







