
.main {
  width: 350px;

  .table-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 20px;
    align-items: flex-start;
  }

}

button {
  position: absolute;
  background-color: #F87839;
  border-radius: 1px;
  height: 40px;
  color: white;
  font-family: 'Lora', serif;
}

///////// Cards //////////

.main {
  h2 {
    font-family: 'Lora', serif;
    font-size: 30px;
    margin: 0;
  }

  .category-cards {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;

    .category-card {
      display: flex;
      cursor: pointer;
      flex-direction: column;
      margin: 10px;
      width: 200px;
      -webkit-box-shadow: 0 0 10px -4px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0 0 10px -4px rgba(34, 60, 80, 0.2);
      box-shadow: 0 0 10px -4px rgba(34, 60, 80, 0.2);

      .img-block {
        height: 200px;
        width: 200px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      p {
        padding: 0 0 5px 15px;
        font-size: 15px;
        font-weight: bold;
        font-family: 'Lora', serif;
      }
    }

    .category-card:hover {
      -webkit-box-shadow: 0 0 20px 0 rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0 0 20px 0 rgba(34, 60, 80, 0.2);
      box-shadow: 0 0 20px 0 rgba(34, 60, 80, 0.2);
    }
  }
}
