
.main {
  width: 350px;

  .table-bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 20px;
    align-items: flex-start;
  }

}

button {
  position: absolute;
  background-color: #F87839;
  border-radius: 1px;
  height: 40px;
  color: white;
  font-family: 'Lora', serif;
}
