.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-right: 30px;

  input {
    width: 200px;
    padding-left: 10px;
  }

  .search {
    position: relative;

    .icon-finder {
      position: absolute;
      top: 5px;
      right: 5px;

      img {
        width: 40px;
      }
    }
  }
}

.main {
  user-select: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: flex-start;

  .mat-elevation-z8 {
    margin-top: 23px;
  }

  h5 {
    padding: 0 0 0 20px;
    font: 24px 'Lora', serif;
  }
}

.table-section {
  max-height: 700px;
  overflow: auto;
  margin-bottom: 10px;

  table {
    min-width: max-content;

    th {
      font-weight: bold;
      font-family: 'Lora', serif;
      text-align: center;
    }

    th:first-child {
      border-right: 1px solid black;
    }

    td {
      text-align: center;
      font-family: 'Lora', serif;

      img {
        cursor: pointer;
      }
    }

    td:first-child {
      border-right: 1px solid black;
    }
  }
}

button {
  background-color: #F87839;
  border-radius: 1px;
  height: 35px;
  color: white;
  font: 12px 'Lora', serif;
}


.mat-mdc-slide-toggle.mat-warn {
  --mdc-switch-selected-icon-color: #ffffff;
  --mdc-switch-selected-focus-track-color: #f87a56;
  --mdc-switch-selected-handle-color: #f65405;
  --mdc-switch-selected-track-color: #f87a56;
  --mat-switch-selected-with-icon-handle-horizontal-margin: 0 20px;
  --mat-switch-unselected-with-icon-handle-horizontal-margin: 0;
  --mdc-switch-track-height: 15px;
  --mdc-switch-track-width: 43px;
}


