/////////////////////////////////  Button Style ///////////////////////////////

.btn-group {
  width: 210px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.btn-group button {
  height: 35px;
  padding: 0 10px;
  border-radius: 1px;
  color: white;
  font-family: 'Lora', serif;
}

.btn-cancel {
  background-color: slategrey;
  width: 100px;
}

.btn-save {
  background-color: #26a69a;
  width: 100px;
}

/////////////////////////////////  Button Style ///////////////////////////////

////////////////////////////////   Input //////////////////////////////////////
.row {
  margin-bottom: 0;
  padding: 0;

  input {
    margin-bottom: 0;
  }
}

.invalid {
  color: #e40606;
}

////////////////////////////////   Input //////////////////////////////////////


////////////////////////////// Add Image ///////////////////////////////////
.img-block {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5px 5px 10px 5px;

  label {
    font-size: 16px;
  }

  .img-group {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
      width: 50px;
      cursor: pointer;
      transition-duration: 0.5s;
    }

    img:hover{
      transform: rotate(360deg);
    }

    span {
      color: #26a69a;
      font-size: 13px;
      font-weight: bold;
      padding-right: 5px;
    }
  }


}

////////////////////////////// Add Image ///////////////////////////////////

.main-container {
  position: relative;
  display: flex;
  margin-left: 300px;
  padding-top: 30px;
}

.container-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 3%;
  width: 400px;
  box-shadow: grey 0 2px 5px;
  background-color: white;
  padding: 0 0 30px 0;

  h3 {
    color: white;
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
    height: 60px;
    text-align: center;
    background-color: #26a69a;
    font-family: 'Lora', serif;
    margin: 0;
  }

  .img-del {
    position: absolute;
    top: 45px;
    right: 10px;

    svg {
      position: relative;
      cursor: pointer;
    }

    svg:hover {
      height: 27px;
      width: 27px;
    }
  }
}
/////////////////// Template for Kitchen & Category ///////////////

hr {
  height: 2px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  --mdc-filled-text-field-container-color: #ffffff;
}

