<div class="main-container">
  <div class="container-block">
    <h3>{{ position && positionID.length ? position.title : 'Новая позиция' }}</h3>
    <div class="img-del" *ngIf="positionID">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
           data-name="Layer 1" viewBox="0 0 24 24"
           (click)="openDelTemplate()"
           *ngIf="!isDelete"
      >
        <path d="M17 4V2a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H2v2h2v15a3 3 0 0 0 3 3h10a3
         3 0 0 0 3-3V6h2V4Zm-6 13H9v-6h2Zm4 0h-2v-6h2Zm0-13H9V2h6Z" fill="white"/>
      </svg>
    </div>
    <form [formGroup]="form">
      <div class="container-form">
        <div class="row">
          <div class="input-field col s6">
            <label class="active" for="title">Название</label>
            <input id="title" type="text" formControlName="title"
                   [ngClass]="{'invalid' : form.get('title').invalid && form.get('title')['touched']}"
                   (keyup)="checkTitlePosition()"
            >
          </div>
        </div>
        <span class="error" *ngIf="isError"
        >*Название уже занято
                    </span>
        <span class="error" *ngIf="form.get('title').hasError('required') && form.get('title')['touched']"
        >*Введите название
                    </span>
        <span class="error" *ngIf="form.get('title').hasError('minlength') && form.get('title')['touched']"
        >*Не менее 3х символов
                    </span>
        <span class="error" *ngIf="form.get('title').hasError('maxlength') && form.get('title')['touched']"
        >*Слишком длинное название
                    </span>

        <div class="items-row">
          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="price">Цена</label>
              <input id="price" type="number" formControlName="price" min="0" max="5000"
                     [ngClass]="{'invalid' : form.get('price').invalid && form.get('price')['touched']}"
              >
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="price">Вес</label>
              <input id="weight" type="number" formControlName="weight" min="0" max="2000"
                     [ngClass]="{'invalid' : form.get('weight').invalid && form.get('weight')['touched']}"
              >
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="caloric">Ккал.</label>
              <input id="caloric" type="number" formControlName="caloric"
                     max="2000"
                     [ngClass]="{'invalid' : form.get('caloric').invalid && form.get('caloric')['touched']}"
              >
            </div>
          </div>
        </div>

        <div class="items-row">
          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="proteins">Б</label>
              <input id="proteins" type="number" formControlName="proteins" min="0" max="300"
                     [ngClass]="{'invalid' : form.get('proteins').invalid && form.get('proteins')['touched']}"
              >
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="fats">Ж</label>
              <input id="fats" type="number" formControlName="fats" min="0" max="300"
                     [ngClass]="{'invalid' : form.get('fats').invalid && form.get('fats')['touched']}"
              >
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <label class="active" for="carbs">У</label>
              <input id="carbs" type="number" formControlName="carbs" min="0" max="300"
                     [ngClass]="{'invalid' : form.get('carbs').invalid && form.get('carbs')['touched']}"
              >
            </div>
          </div>
        </div>

        <!--          Validation errors-->

        <span class="error" *ngIf="form.get('price').hasError('required') && form.get('price')['touched']"
        >*Укажите стоимость
                    </span>
        <span class="error" *ngIf="form.get('price').hasError('max') && form.get('price')['touched']"
        >*Макс. цена: 5 000
                    </span>

        <span class="error" *ngIf="form.get('proteins').hasError('required') && form.get('proteins')['touched']"
        >*Укажите количество белков
                    </span>
        <span class="error" *ngIf="form.get('proteins').hasError('max') && form.get('proteins')['touched']"
        >**Макс. количество: 300
                    </span>

        <span class="error" *ngIf="(form.get('weight').hasError('required') && form.get('weight')['touched']) ||
                                     (form.get('caloric').hasError('required') && form.get('caloric')['touched'])"
        >*Укажите {{ form.get('weight').hasError('required') ? 'вес' : 'калл.' }}
                    </span>
        <span class="error" *ngIf="(form.get('weight').hasError('max') ||
                                      form.get('caloric').hasError('max')) &&
                                      (form.get('weight')['touched'] || form.get('caloric')['touched'])"
        >*Макс. {{ form.get('weight').hasError('max') ? 'вес' : 'калл.' }}: 2 000
                    </span>

        <span class="error" *ngIf="(form.get('fats').hasError('required') && form.get('fats')['touched']) ||
                                      (form.get('carbs').hasError('required') && form.get('carbs')['touched'])"
        >*Укажите количество {{ form.get('fats').hasError('required') ? 'жиров' : 'углеводов' }}
                    </span>

        <span class="error" *ngIf="(form.get('fats').hasError('max') && form.get('fats')['touched']) ||
                                      (form.get('carbs').hasError('max') && form.get('carbs')['touched'])"
        >*Макс. количество {{ form.get('fats').hasError('max') ? 'жиров' : 'углеводов' }}: 300
                    </span>

        <!--          Validation errors-->

        <div class="description-block">
          <label for="textarea" style="padding-left: 10px; font-family: 'Lora', serif"
                 [ngClass]="{'invalid' : form.get('composition').invalid && form.get('composition')['touched']}"

          >Состав</label>
          <textarea id="textarea"
                    maxlength="300"
                    [ngClass]="{'invalid' : form.get('composition').invalid && form.get('composition')['touched']}"
                    placeholder="Опишите состав"
                    formControlName="composition"
          ></textarea>
          <span class="error" *ngIf="form.get('composition').hasError('required') &&
                                        form.get('composition')['touched']"
          >*Опишите состав
                              </span>
          <span class="error" *ngIf="form.get('composition').hasError('minlength') &&
                                        form.get('composition')['touched']"
          >*Еще немного информации...   {{
              this.form.get('composition').errors['minlength'].actualLength + '/'
              + this.form.get('composition').errors['minlength'].requiredLength
            }}
            </span>
        </div>

        <!--          <hr>-->

        <div class="img-block">
          <label [for]="inputImg" style="font-family: 'Lora', serif">Выберите изображение </label>
          <div class="img-group">
            <span *ngIf="image || (position ? position.imgSrc : false)">Изображение загружено!</span>
            <input type="file" class="dn"
                   formControlName="imgSrc"
                   #inputImg
                   (change)="uploadImg($event)">
            <img (click)=" triggerClick()" [class]="isDelete ? 'dn' : ''"
                 src="../assets/icons/add-photo.png" alt="edit">
          </div>
        </div>

        <!--          <hr>-->

        <div class="btn-group">
          <button
            class="btn-cancel" extended="" mat-fab
            [disabled]="isDelete"
            (click)="openPositionsPage()"
          >
            Отмена
          </button>
          <button
            type="submit"
            class="btn-save" extended="" mat-fab
            [disabled]="form.invalid || isError || isDelete"
            (click)="onSubmit()"
          >
            Сохранить
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Template for Delete-->

<app-delete-template *ngIf="isDelete" [elemIn]="elem"></app-delete-template>

