.container-center{
  width: 100vw;
  display: flex;
  // margin: 0 auto;
}
.row {
  input {
    width: 245px;
    padding-left: 15px;
  }
}

mat-form-field {
  width: 300px;
  padding-top: 20px;

  span {
    color: grey;
  }
}


.items-row {
  display: flex;
  justify-content: space-between;
  width: 285px;

  #price,
  #weight,
  #proteins,
  #fats,
  #carbs,
  #caloric {
    width: 55px;
  }
}

.checkbox {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  ;
}