.block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 75vw;

  .header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-right: 30px;

    input{
      width: 200px;
    }
  }

  .table-section{
    max-height: 700px;
    overflow: auto;
  }

  .category {
    margin-top: 40px;

    h5 {
      text-align: center;
      font-weight: bold;
      font-family: 'Lora', serif;
    }

    .img-block {
      margin-top: 20px;
      height: 300px;
      width: 300px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        -webkit-box-shadow: 0 0 10px -4px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 0 0 10px -4px rgba(34, 60, 80, 0.2);
        box-shadow: 0 0 10px -4px rgba(34, 60, 80, 0.2);
      }
    }

  }
}

.table-bottom{
  padding-left: 0;
}

button {
  margin-top: 20px;
  background-color: #F87839;
  border-radius: 1px;
  height: 40px;
  color: white;
  font-family: 'Lora', serif;
}
