
button {
  background-color: #F87839;
  border-radius: 1px;
  height: 40px;
  color: white;
  font-family: 'Lora', serif;
}

.bottom-table {
  display: flex;
  flex-direction: column;
  padding: 10px 0 25px 20px;
  align-items: flex-start;
}
