.row {
  input {
    width: 270px;
    padding-left: 15px;
  }
}

mat-form-field {
  width: 300px;

  span {
    color: grey;
  }
}


.description-block {
  padding-top: 5px;
  width: 300px;

  label {
    padding-left: 7px;
    font-size: 12px;
  }

  textarea {
    resize: none;
    color: rgba(56, 55, 55, 0.95);
    padding: 10px;
    margin-bottom: 10px;
    height: 100px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.45);
    border-radius: 3px;
  }

  textarea:focus {
    color: black;
    resize: none;
    padding: 10px;
    height: 150px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }
}

.time-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}


.time-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.time-inputs mat-form-field {
  width: 125px;

  input {
    width: 60px;
  }
}

hr {
  height: 2px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  --mdc-filled-text-field-container-color: #ffffff;
}

////////////Container Delete