:host{
  margin: 0 auto;
}

.row {
  input {
    width: 270px;
    padding-left: 15px;
  }
}

mat-form-field {
  width: 300px;

  span {
    color: grey;
  }
}

.time-block {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 3px;
}

.time-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.time-inputs mat-form-field {
  width: 125px;

  input {
    width: 60px;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  --mdc-filled-text-field-container-color: #ffffff;
}

////////////Container Delete