$lora: 'Source Sans Pro', Lora, Arial, sans-serif;

* {
  font-family: $lora;
  margin: 0;
  user-select: none;
}

.blur {
  filter: blur(5px);
}

.main-container {
  position: relative;
  display: flex;
  margin-left: 130px;
  padding-top: 30px;
}

.close-icon{
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 3px;
  font-size: 20px;
  width: 15px;
  color: white;
  cursor: pointer;
}

.container-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 3%;
  width: 400px;
  box-shadow: grey 0 2px 5px;
  background-color: white;
  padding: 0 0 30px 0;

  h3 {
    color: white;
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
    height: 60px;
    text-align: center;
    background-color: #26a69a;
    font-family: $lora;
    margin: 0;
  }

  .img-del {
    position: absolute;
    top: 10px;
    right: 10px;

    img {
      width: 50px;
      cursor: pointer;
    }
  }
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 350px;

  .row {
    input {
      width: 270px;
      padding-left: 15px;
    }
  }

  mat-form-field {
    width: 300px;
    padding-top: 10px;

    span {
      color: grey;
    }
  }
}

.description-block {
  padding-top: 5px;
  width: 300px;

  label {
    padding-left: 7px;
    font-size: 12px;
  }

  textarea {
    resize: none;
    color: rgba(56, 55, 55, 0.95);
    padding: 10px;
    height: 100px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.45);
    border-radius: 3px;
  }

  textarea:focus {
    color: black;
    resize: none;
    padding: 10px;
    height: 150px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }
}

.time-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}


.time-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.time-inputs mat-form-field {
  width: 125px;

  input {
    width: 60px;
  }
}

hr {
  height: 2px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  --mdc-filled-text-field-container-color: #ffffff;
}

////////////Container Delete
.container-del {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25%;
  left: 33%;
  padding: 35px 63px;
  background-color: white;
  border: 1px solid #c90808;
  z-index: 1;

  h2 {
    font-size: 25px;
    padding-bottom: 5px;
  }

  h3 {
    font-size: 23px;
    padding-bottom: 5px;
    color: #F87839
  }

  .btn-group-del {
    display: flex;
    justify-content: space-around;
    width: 220px;

    button {
      margin-top: 20px;
      height: 35px;
      padding: 0 10px;
      border-radius: 1px;
    }

    .btn-cancel {
      background-color: slategrey;
      width: 90px;
    }

    .btn-save {
      background-color: darkred;
      width: 90px;
      margin-right: 10px;
    }
  }
}

