<div class="login_page" xmlns="http://www.w3.org/1999/html">
  <div class="form_container">
    <div class="login_form">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <h2>Авторизация</h2>

        <div class="input-block">
          <div class="row">
            <div class="input-field col s6">
              <input id="login" type="text" formControlName="login">
              <label class="active" for="login">Логин</label>
            </div>
          </div>
          <span *ngIf="login.invalid && login.touched">
          *Введите логин
          </span>

          <div class="row">
            <div class="input-field col s6">
              <input id="password" type="password" formControlName="password">
              <label class="active" for="password">Пароль</label>
            </div>
          </div>
          <span *ngIf="password.hasError('required') && password.touched"
          >*Введите пароль
          </span>
          <span *ngIf="password.hasError('minlength')"
          >*Не менее 6 символов
          </span>

          <button
            class="btn" extended="" mat-fab
            type="submit"
            [disabled]="form.invalid"
          >
            Войти
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


