<h3>Статистика</h3>
<div class="cards">
  <div class="card" routerLink="/st/restaurants">
    <div class="img">
      <img
        src="
            ../assets/icons/establishment.jpg
          "
        alt="establishment"
      />
    </div>

    <hr />

    <div class="col">
      <h5>Заведения</h5>
      <span>{{quantityRestaurants}}</span>
    </div>
  </div>

  <div class="card" routerLink="/st/users">
    <div class="img">
      <img
        src="
            ../assets/icons/users.png
          "
        alt="users"
      />
    </div>

    <hr />

    <div class="col">
      <h5>Пользователи</h5>
      <span>{{quantityUsers}}</span>
    </div>
  </div>

  <div class="card" routerLink="/st/promos">
    <div class="img">
      <img
        src="
            ../assets/icons/promos.png
          "
        alt="users"
      />
    </div>

    <hr />

    <div class="col">
      <h5>Реклама</h5>
      <span>{{quantityPromos}}</span>
    </div>
  </div>

  <div class="card" routerLink="/st/restaurants">
    <div class="img">
      <img
        src="
            ../assets/icons/kitchens.jpg
          "
        alt="kitchens"
      />
    </div>

    <hr />

    <div class="col">
      <h5>Кухни</h5>
      <span>{{quantityKitchens}}</span>
    </div>
  </div>

  <div class="card" routerLink="/st/assortment">
    <div class="img">
      <img
        src="
            ../assets/icons/categories.jpg
          "
        alt="dishes"
      />
    </div>

    <hr />

    <div class="col">
      <h5>Категории</h5>
      <span>{{quantityCategories}}</span>
    </div>
  </div>

  <div class="card" routerLink="/st/assortment">
    <div class="img">
      <img
        src="
            ../assets/icons/dishes.png
          "
        alt="dishes"
      />
    </div>

    <hr />

    <div class="col">
      <h5>Блюда</h5>
      <span>{{quantityPositions}}</span>
    </div>
  </div>
</div>
